body{

	background-image: url("wepik--2022525-18959.jpeg");
	background-size: auto auto auto ;

}





nav{
		display: flex; 
		flex-direction: left;
		justify-content:space-between;
		background-color:#d1dea9;
		box-shadow: 5px 5px 5px #f1e9f7;
		box-sizing: 100px 100px 100px;
		}			

nav .navigation ul
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
  
nav .navigation ul li{
	list-style: none;
	margin-left: 10px

}
nav .navigation ul li a
{
	text-decoration: none;
	color:blue;
	transition-duration: 1s;
	 
}
nav .navigation ul li a:hover
{
	 
	color:orange;

}
#home
{
	padding-top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	 
}
#home h2
{
	line-height: 5;
	align-items: center;
	color:#57012c;
	font-size:50;
	 
}
#home h3
{
	font-family: 'Brush Script MT', cursive;
	font-size :50;
	color:#380c5c;
}
#cousesset.coursebox{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}
#cousesset a
{
	align-items: center;
	text-decoration: none;
	font-size:10;
	padding: 13px 35px;
	background-color:  #f3fad7;
	border-radius: 5;
	border-color: black;


}

#couseset.course
{
	

}
